<a href="https://colab.research.google.com/github/lungnahahd/Tensorflow_Prac/blob/main/Tensorflow_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import tensorflow as tf
import pandas as pd

In [15]:
(독립, 종속), _ = tf.keras.datasets.cifar10.load_data()
print(독립.shape, 종속.shape)

(50000, 32, 32, 3) (50000, 1)

In [21]:
종속 = 종속.reshape(50000)
종속.shape
종속 = pd.get_dummies(종속)

In [22]:
X = tf.keras.layers.Input(shape=[32,32,3])
H = tf.keras.layers.Conv2D(6, kernel_size=5, activation='swish')(X)
# Conv2D 사용시 이미지가 훼손되는 것을 막기 위해 MaxPool2D 사용
H = tf.keras.layers.MaxPool2D()(H)

H = tf.keras.layers.Conv2D(10,kernel_size=5, activation='swish')(H)
H = tf.keras.layers.MaxPool2D()(H)

In [23]:
# 이미지를 표의 형태로 변환
H = tf.keras.layers.Flatten()(H)
H = tf.keras.layers.Dense(120, activation='swish')(H)
Y = tf.keras.layers.Dense(10,activation='softmax')(H)

In [24]:
model = tf.keras.models.Model(X, Y)

In [27]:
model.compile(loss='categorical_crossentropy', metrics='accuracy')
model.fit(독립,종속,epochs=100, verbose=0)

In [28]:
model.fit(독립,종속,epochs=10)

Epoch 1/10
1563/1563 [==============================] - 5s 3ms/step - loss: 1.2194 - accuracy: 0.5890
Epoch 2/10
1563/1563 [==============================] - 5s 3ms/step - loss: 1.1912 - accuracy: 0.5959
Epoch 3/10
1563/1563 [==============================] - 5s 3ms/step - loss: 1.6115 - accuracy: 0.4302
Epoch 4/10
1563/1563 [==============================] - 5s 3ms/step - loss: 1.7639 - accuracy: 0.3759
Epoch 5/10
1563/1563 [==============================] - 5s 3ms/step - loss: 1.6396 - accuracy: 0.4211
Epoch 6/10
1563/1563 [==============================] - 5s 3ms/step - loss: 1.5875 - accuracy: 0.4493
Epoch 7/10
1563/1563 [==============================] - 5s 3ms/step - loss: 1.5611 - accuracy: 0.4666
Epoch 8/10
1563/1563 [==============================] - 5s 3ms/step - loss: 1.5181 - accuracy: 0.4799
Epoch 9/10
1563/1563 [==============================] - 5s 3ms/step - loss: 1.4924 - accuracy: 0.4880
Epoch 10/10
1563/1563 [==============================] - 5s 3ms/step - loss: 1.4545 - accuracy: 0.4963

In [31]:
pre = model.predict(독립[:5])
pd.DataFrame(pre).round(2)

      0     1     2     3     4     5     6     7     8     9
0  0.10  0.11  0.03  0.07  0.10  0.08  0.19  0.21  0.05  0.07
1  0.01  0.08  0.03  0.02  0.05  0.03  0.00  0.51  0.02  0.25
2  0.02  0.01  0.04  0.01  0.01  0.02  0.00  0.35  0.00  0.54
3  0.02  0.04  0.03  0.04  0.49  0.04  0.27  0.07  0.00  0.00
4  0.08  0.57  0.00  0.00  0.02  0.00  0.00  0.00  0.05  0.27

In [32]:
종속[0:5]

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  1  0  0  0
1  0  0  0  0  0  0  0  0  0  1
2  0  0  0  0  0  0  0  0  0  1
3  0  0  0  0  1  0  0  0  0  0
4  0  1  0  0  0  0  0  0  0  0