<a href="https://colab.research.google.com/github/lungnahahd/Tensorflow_Prac/blob/main/Tensorflow_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import tensorflow as tf

In [3]:
경로 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv'
데이터 = pd.read_csv(경로)

In [6]:
데이터.shape
데이터.columns

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

In [7]:
원인 = 데이터[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax','ptratio', 'b', 'lstat']]
결과 = 데이터[['medv']]

In [9]:
X = tf.keras.layers.Input(shape=[13])
H = tf.keras.layers.Dense(8)(X)
H = tf.keras.layers.BatchNormalization()(H)
H = tf.keras.layers.Activation('swish')(H)
Y = tf.keras.layers.Dense(1)(H)

In [10]:
model = tf.keras.models.Model(X,Y)
model.compile(loss = 'mse')

In [19]:
model.fit(원인, 결과, epochs=1000, verbose=0)

In [20]:
model.fit(원인, 결과, epochs=10)

Epoch 1/10
16/16 [==============================] - 0s 2ms/step - loss: 12.5788
Epoch 2/10
16/16 [==============================] - 0s 1ms/step - loss: 12.0161
Epoch 3/10
16/16 [==============================] - 0s 1ms/step - loss: 10.0257
Epoch 4/10
16/16 [==============================] - 0s 1ms/step - loss: 11.9073
Epoch 5/10
16/16 [==============================] - 0s 1ms/step - loss: 11.2355
Epoch 6/10
16/16 [==============================] - 0s 1ms/step - loss: 11.3113
Epoch 7/10
16/16 [==============================] - 0s 1ms/step - loss: 11.7535
Epoch 8/10
16/16 [==============================] - 0s 1ms/step - loss: 12.9991
Epoch 9/10
16/16 [==============================] - 0s 1ms/step - loss: 11.0188
Epoch 10/10
16/16 [==============================] - 0s 1ms/step - loss: 10.5529

In [22]:
model.predict(원인[:5])

array([[23.614046],
       [21.127129],
       [29.550282],
       [29.483095],
       [29.583328]], dtype=float32)

In [23]:
결과[:5]

   medv
0  24.0
1  21.6
2  34.7
3  33.4
4  36.2