<a href="https://colab.research.google.com/github/lungnahahd/Tensorflow_Prac/blob/main/Tensorflow_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import tensorflow as tf
import pandas as pd

In [5]:
파일경로 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/lemonade.csv'
파일 = pd.read_csv(파일경로)

In [6]:
print(파일.shape)
print(파일.columns)

(6, 2)
Index(['온도', '판매량'], dtype='object')

In [7]:
원인 = 파일[['온도']]
결과 = 파일[['판매량']]

In [8]:
print(원인.shape)
print(결과.shape)

(6, 1)
(6, 1)

In [9]:
원인.head()

   온도
0  20
1  21
2  22
3  23
4  24

In [10]:
결과.head()

   판매량
0   40
1   42
2   44
3   46
4   48

In [11]:
X = tf.keras.layers.Input(shape = [1])
Y = tf.keras.layers.Dense(1)(X)
model = tf.keras.models.Model(X,Y)
model.compile(loss = 'mse')

In [19]:
model.fit(원인, 결과, epochs=1000, verbose=0)

In [20]:
model.fit(원인, 결과, epochs=10)

Epoch 1/10
1/1 [==============================] - 0s 4ms/step - loss: 0.0021
Epoch 2/10
1/1 [==============================] - 0s 7ms/step - loss: 0.0021
Epoch 3/10
1/1 [==============================] - 0s 4ms/step - loss: 0.0021
Epoch 4/10
1/1 [==============================] - 0s 4ms/step - loss: 0.0021
Epoch 5/10
1/1 [==============================] - 0s 5ms/step - loss: 0.0021
Epoch 6/10
1/1 [==============================] - 0s 5ms/step - loss: 0.0021
Epoch 7/10
1/1 [==============================] - 0s 5ms/step - loss: 0.0021
Epoch 8/10
1/1 [==============================] - 0s 6ms/step - loss: 0.0021
Epoch 9/10
1/1 [==============================] - 0s 6ms/step - loss: 0.0021
Epoch 10/10
1/1 [==============================] - 0s 6ms/step - loss: 0.0021

In [22]:
print("오렌지 예상치 : ", model.predict([[20]]))

오렌지 예상치 :  [[40.05664]]