<a href="https://colab.research.google.com/github/lungnahahd/Tensorflow_Prac/blob/main/Tensorflow_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import tensorflow as tf
import pandas as pd

In [13]:
(독립, 종속), _ = tf.keras.datasets.mnist.load_data()
print(독립.shape, 종속.shape)

(60000, 28, 28) (60000,)

In [17]:
독립 = 독립.reshape(60000, 28, 28, 1)
종속 = pd.get_dummies(종속)

In [18]:
print(독립.shape, 종속.shape)

(60000, 28, 28, 1) (60000, 10)

In [19]:
X = tf.keras.layers.Input(shape=[28,28,1])
H = tf.keras.layers.Conv2D(3, kernel_size = 5, activation='swish')(X)
H = tf.keras.layers.Conv2D(6, kernel_size=5,activation='swish')(H)
H = tf.keras.layers.Flatten()(H)
H = tf.keras.layers.Dense(84,activation='swish')(H)
Y = tf.keras.layers.Dense(10,activation='softmax')(H)
model = tf.keras.models.Model(X,Y)
model.compile(loss='categorical_crossentropy',metrics='accuracy')

In [21]:
model.fit(독립, 종속, epochs=10)

Epoch 1/10
1875/1875 [==============================] - 5s 2ms/step - loss: 0.0164 - accuracy: 0.9956
Epoch 2/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.0194 - accuracy: 0.9955
Epoch 3/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.0168 - accuracy: 0.9958
Epoch 4/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.0165 - accuracy: 0.9960
Epoch 5/10
1875/1875 [==============================] - 5s 2ms/step - loss: 0.0169 - accuracy: 0.9961
Epoch 6/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.0147 - accuracy: 0.9964
Epoch 7/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.0165 - accuracy: 0.9968
Epoch 8/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.0135 - accuracy: 0.9968
Epoch 9/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.0157 - accuracy: 0.9970
Epoch 10/10
1875/1875 [==============================] - 5s 2ms/step - loss: 0.0154 - accuracy: 0.9968

In [22]:
pred = model.predict(독립[0:5])
pd.DataFrame(pred).round(2)

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

In [23]:
종속[0:5]

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  1  0  0  0  0
1  1  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  1