<a href="https://colab.research.google.com/github/lungnahahd/Tensorflow_Prac/blob/main/Tensorflow_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import tensorflow as tf

In [2]:
경로 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv'
데이터 = pd.read_csv(경로)

In [4]:
print(데이터.shape)
print(데이터.head)
print(데이터.columns)

(506, 14)
<bound method NDFrame.head of         crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0    0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1    0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2    0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3    0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4    0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2
..       ...   ...    ...   ...    ...  ...  ...      ...     ...    ...   ...
501  0.06263   0.0  11.93     0  0.573  ...  273     21.0  391.99   9.67  22.4
502  0.04527   0.0  11.93     0  0.573  ...  273     21.0  396.90   9.08  20.6
503  0.06076   0.0  11.93     0  0.573  ...  273     21.0  396.90   5.64  23.9
504  0.10959   0.0  11.93     0  0.573  ...  273     21.0  393.45   6.48  22.0
505  0.04741   0.0  11.93     0  0.573  ...  273     21.0  396.90   7.88  11.9

[506 rows x 14 columns]>
Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

In [5]:
원인 = 데이터[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax','ptratio', 'b', 'lstat']]
결과 = 데이터[['medv']]

In [7]:
print(원인.shape)
print(원인.head)
print(원인.columns)

(506, 13)
<bound method NDFrame.head of         crim    zn  indus  chas    nox  ...  rad  tax  ptratio       b  lstat
0    0.00632  18.0   2.31     0  0.538  ...    1  296     15.3  396.90   4.98
1    0.02731   0.0   7.07     0  0.469  ...    2  242     17.8  396.90   9.14
2    0.02729   0.0   7.07     0  0.469  ...    2  242     17.8  392.83   4.03
3    0.03237   0.0   2.18     0  0.458  ...    3  222     18.7  394.63   2.94
4    0.06905   0.0   2.18     0  0.458  ...    3  222     18.7  396.90   5.33
..       ...   ...    ...   ...    ...  ...  ...  ...      ...     ...    ...
501  0.06263   0.0  11.93     0  0.573  ...    1  273     21.0  391.99   9.67
502  0.04527   0.0  11.93     0  0.573  ...    1  273     21.0  396.90   9.08
503  0.06076   0.0  11.93     0  0.573  ...    1  273     21.0  396.90   5.64
504  0.10959   0.0  11.93     0  0.573  ...    1  273     21.0  393.45   6.48
505  0.04741   0.0  11.93     0  0.573  ...    1  273     21.0  396.90   7.88

[506 rows x 13 columns]>
Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat'],
      dtype='object')

In [8]:
print(결과.shape)
print(결과.head)
print(결과.columns)

(506, 1)
<bound method NDFrame.head of      medv
0    24.0
1    21.6
2    34.7
3    33.4
4    36.2
..    ...
501  22.4
502  20.6
503  23.9
504  22.0
505  11.9

[506 rows x 1 columns]>
Index(['medv'], dtype='object')

In [9]:
X = tf.keras.layers.Input(shape=[13])
H = tf.keras.layers.Dense(8,activation='swish')(X)
Y = tf.keras.layers.Dense(1)(H)

In [10]:
model = tf.keras.models.Model(X,Y)
model.compile(loss='mse')

In [11]:
model.summary()

Model: "model"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_1 (InputLayer)         [(None, 13)]              0
_________________________________________________________________
dense (Dense)                (None, 8)                 112
_________________________________________________________________
dense_1 (Dense)              (None, 1)                 9
=================================================================
Total params: 121
Trainable params: 121
Non-trainable params: 0
_________________________________________________________________

In [23]:
model.fit(원인, 결과, epochs=1000,verbose=0)

In [24]:
model.fit(원인,결과, epochs=10)

Epoch 1/10
16/16 [==============================] - 0s 1ms/step - loss: 10.1976
Epoch 2/10
16/16 [==============================] - 0s 1ms/step - loss: 10.6403
Epoch 3/10
16/16 [==============================] - 0s 1ms/step - loss: 10.5965
Epoch 4/10
16/16 [==============================] - 0s 1ms/step - loss: 10.8445
Epoch 5/10
16/16 [==============================] - 0s 1ms/step - loss: 11.1119
Epoch 6/10
16/16 [==============================] - 0s 1ms/step - loss: 10.6956
Epoch 7/10
16/16 [==============================] - 0s 1ms/step - loss: 11.2082
Epoch 8/10
16/16 [==============================] - 0s 1ms/step - loss: 10.9452
Epoch 9/10
16/16 [==============================] - 0s 1ms/step - loss: 10.6778
Epoch 10/10
16/16 [==============================] - 0s 1ms/step - loss: 10.4956

In [25]:
model.predict(원인[:5])

array([[27.884861],
       [24.99601 ],
       [30.171867],
       [30.767023],
       [31.5215  ]], dtype=float32)

In [26]:
결과[:5]

   medv
0  24.0
1  21.6
2  34.7
3  33.4
4  36.2